<div class="navigation">
  <a class="nav-item" href="/home">Home</a>
  <a class="nav-item" href="/blog">Blog</a>
  <a class="nav-item" href="/gallery">Gallery</a>
  <a class="nav-item" href="/goods">Goods</a>
  <a class="nav-item" href="/table">Table</a>
</div>
