<div class="swiper" id="gallery">
  <div class="swiper-wrapper">
    {{#each images}}
      <div class="swiper-slide"><img src="{{this}}" class="gallery-image" alt=""></div>
    {{/each}}
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-scrollbar"></div>
</div>
