<div class="goods-container">
  {{#each goods}}
    <div class="goods-item">
      <img src="{{image}}" alt="{{name}}" />
      <div class="goods-info">
        <h3 class="goods-name">{{name}}</h3>
        <p class="goods-description">{{description}}</p>
        <button class="buy-now-button">
          <a href="#will-be-soon">Buy Now</a>
        </button>
      </div>
    </div>
  {{/each}}
</div>

<div class="subscribe-section" id="contact">
  <h3>libre lente</h3>
  <h4>Stay up to date with new updates</h4>
  <p>Follow in Telegram and Vkontakte</p>
</div>
